.toast {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: opacity 500ms ease;
}

.toast:hover {
  background-color: #eee;
}

.toast.fade-exit {
  opacity: 0;
}
