.Modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal > .content {
  width: 420px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 3px;
}
